:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
body {
    font-family: "Inter", sans-serif;
}
  
.container {
    display: grid;
    height: 100vh;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar content1 content2 content3"
      "sidebar main main main"
      "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}


.header{
    background-color: #a7ffeb;
    grid-column: 1/5;
    grid-row: 1/2;
}
  
nav {
    background: #a7ffeb;
    grid-area: nav;
    border-radius: 50px;
    padding-top: var(--main-padding);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
  
nav ul li {
    cursor: pointer;
    padding: 0.5rem
}
  
nav ul li:hover {
    background-color: #555;
    color: white;
}
  
main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.grid{
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, 100fr);
    grid-gap: 200px;
    justify-content:space-between;

   
}

.grid > article{
    background: #84ffff;
    border: none;
    border-radius: 20px;
    text-align: left;
    width: 450px;
}

.greeting{ 
    display: flex;
    text-align: left;
}
.greeting h1{
    font-size: 50px;
    text-align: left;
    color: #08798d;
    font-family: cursive;
}

.subtext h2{
    font-size: 9px;
    color: #08798d;
    font-family: fantasy;
    text-align: left;
}

.strippedimages{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-image: url('../image/bg.png');
    margin: 0 auto;
    height: 100px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#stripe{
    background-color: aquamarine;
    width: 20px;
    padding-top: 2px;
}

.grid h3{
    font-size: 30px;
    text-align: left;
    color: #08798d;
    font-family: cursive;
}

.grid h4{
    font-size: 20px;
    text-align: left;
    color: #3fb980;
}
img{
    width: 100%;
    border-radius: 20px;
}
#content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 1%;

}

  
#content2 {
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 1%;
 

}
  
#content3 {
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 1%;
   
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
  
a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

@media only screen and (max-width: 700px) {
    .container {
      grid-template-areas:
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }

}

  
  
  