body {
    background-color: #F8EFF1;
}

.contain {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #7e1037;
}

nav {
    text-align: center;
    font-size: 1rem;
}

nav li {
    display: inline;
    margin-right: 3em;
}

a:link {
    color: #7e1037;
    text-decoration: none;
  }

a:visited {
    color: #FF1493;
  }

a:hover {
    color: #FFB6C1;
  }

 a:focus {
    color: #FFB6C1;
 } 

a:active {
    color: #FF69B4;
  }

#stack {
    text-align: center;
}

.img-div {
    display: inline-block;
    width: 25%;
}

.imgs {
    width:100%; 
}

h2 {
    font-size: 1.6rem;
    color: #7e1037;
}

h3 {
    color: #7e1037;
}

p {
    color: #7e1037;
}

#card {
    background: #FFDEEF;
    margin: 0 auto;
    width: 90%;
    display: block;
    border-radius: 20px;
    max-width: 90%;
    padding: 1rem;
    font-size: 1rem;
}

.button {
    margin: 0 auto;
    display: block;
    width: 60%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: palevioletred;
    cursor: pointer;
    text-align: center;
}

#button-li {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #FE94BD;
    margin: 0 auto;
    width: 90%;
    border-radius: 25px;
    text-align: center;
    padding: .5rem;
    margin-top: .5em;
}

@media only screen and (min-width: 768px) {
    .contain {
        width: 100%;
        margin: 0 auto;
    }

    #stack {
        width: 25%;
        float: left;
    }

    .img-div {
        width: 60%;
        display: block;
    }

    #card {
        background: #FFDEEF;
        margin: .5em auto;
        width: 65%;
        height: 70%;
        border-radius: 20px;
        float: left;
        max-width: 100ch;
        padding: 1.5em;
    }

    .button {
        margin: 0 auto;
        display: block;
    }

    footer {
        clear: both;
        color: #7e1037;
    }

}

